body{
margin:0;
background:#f1f1f1;
font-family:Arial;
}

.container{
max-width:400px;
margin:auto;
padding:20px;
}

.logo{
width:180px;
display:block;
margin:40px auto;
}

.card{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 0 15px rgba(0,0,0,0.1);
}

h1{
text-align:center;
color:#0b3f91;
}

p{
text-align:center;
color:#555;
}

.beneficios{
margin-top:20px;
padding:15px;
background:#fafafa;
border-left:5px solid orange;
border-radius:10px;
}

.beneficios p{
text-align:left;
}

.botao{
display:block;
margin-top:25px;
background:#0b3f91;
color:white;
text-decoration:none;
padding:18px;
border-radius:12px;
text-align:center;
font-weight:bold;
font-size:20px;
}